cachetools==2.0.1
certifi==2018.1.18
chardet==3.0.4
decorator==4.2.1
get==0.0.39
google-api-core==0.1.4
google-auth==1.4.1
google-cloud-bigquery==0.30.0
google-cloud-core==0.28.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
idna==2.6
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.11.1
numpy==1.14.1
pandas==0.22.0
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
post==0.0.26
prompt-toolkit==1.0.15
protobuf==3.5.1
ptyprocess==0.5.2
public==0.0.65
py4j==0.10.6
pyasn1==0.4.2
pyasn1-modules==0.2.1
Pygments==2.2.0
pymongo==3.6.1
#pyspark==2.3.0
python-dateutil==2.6.1
pytz==2018.3
query-string==0.0.28
request==0.0.26
requests==2.18.4
rsa==3.4.2
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
